@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

#content {
    min-height: calc(100vh - 23px);
}

#content,nav,footer {
    font-family: 'Titillium Web', sans-serif;
}

.table tbody td {
    vertical-align: middle;
}

.jumbotron {
    background-color: #fff !important;
    border: 1px solid #ddd;
}

.caption-top {
    caption-side:top;
}

.table-sm {
    font-size: 0.8em;
}

.table thead tr th {
    vertical-align: middle;
    border-bottom: 0;
    font-size: 1.15em;
}

.card-header > .media {
    font-size: 2em;
}

.card-header > .media > i {
    padding-top: 2px;
    font-size: 0.8em;
}

.main-title {
    font-size: 3.0em !important;
}

.img-sm {
    height: 12px;
}

.card {

}

#jumbo-content {
    width: 375px;
    text-align: center;
}

.supported-devices > span {
    font-size: 0.9em;
    margin: 0 8px;
}

.truncate {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-wrap {
    white-space: nowrap;
}

ul.pagination {
    justify-content: center;
}

.album-cover-art {
    width: 28px;
}

.album-cover-art-big {
    width: 60px;
}

/**
 * Mobile
 */
@media only screen and (max-device-width: 480px) {
    .main-title {
        font-size: 2.2em !important;
    }

    #jumbo-content {
        width: 100%;
    }

    #jumbo-content .btn {
        margin: 5px;
    }

    .truncate {
        max-width: 230px;
    }

    .supported-devices > span {
        margin: 0 3px;
        font-size: 0.8em;
    }
}
